# Base de données
DATABASE_URL="postgresql://user:password@localhost:5432/nkco_db?schema=public"

# NextAuth
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="votre-secret-tres-securise-changez-moi"

# Email (Resend)
RESEND_API_KEY="re_votre_cle_api"
EMAIL_FROM="contact@nkco.fr"

# Admin par défaut
ADMIN_EMAIL="admin@nkco.fr"
ADMIN_PASSWORD="ChangeM0i!"

# Configuration
NODE_ENV="development"
